.te {
  background-color: #9065AD;
}

.post {
  mix-blend-mode: difference;
  color: #9065AD;
}

.user {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  float: left
}

.postar {
  width: auto;
  height: auto;
  border-radius: 10px;
  flex-grow: 20%;
}

.mn {
  width: 10%;
  border-radius: 100px;
  height: 80%;
}

.capa {
  width: 100%;
  height: 20%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #9065AD;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.image-preview__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.image-preview p {
  color: #ccc;
  font-size: 16px;
}

.first-child {
  margin: 0;
  background-color: #9065AD;
  width: 100%;
  height: 80%;
  position: relative;
  border-radius: 10%;
  text-align: center;
  margin-top: 60px;
  padding: 20px;
}

.last-child {
  background-color: blue;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  position: relative;
  margin-top: -130px;
  margin-left: 20px;
}

.desc {
  position: relative;
}

.fixarRodape {
  bottom: 0;
  position: fixed;
  width: 80%;
  text-align: center;
  background: rgb(107, 75, 126);
  background: linear-gradient(270deg, rgba(107, 75, 126, 1) 0%, rgba(144, 101, 173, 1) 35%);
}


body {

  margin: 0;
  padding: 0;
}

.perfil-container {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.nome-usuario {
  font-size: 24px;
  font-weight: bold;
}

.bio {
  font-style: italic;
  color: #555;
}

.detalhes-usuario,
.atividade-recente {
  margin-top: 20px;
}

.editar {
  float: right
}

/*image-preview*/
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

/*image-preview__img*/
.img-pre {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.img p {
  color: #ccc;
  font-size: 16px;
}


/*image-preview*/
.imge {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  width: 40%;
  height: 20%;
  border-radius: 100%;
  margin: 0 auto;
}

/*image-preview__img*/
.img-p {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.img p {
  color: #ccc;
  font-size: 16px;
}

.linha {
  border-bottom: 1px solid #000000;
}

.bio {
  font-family: 'Montserrat', sans-serif;
  float: left
}

.bo_perfil {
  width: 80%;
  height: 80%;
  background-color: #9065AD;
  border-radius: 50%;
}