.te {
  border-color: #9065AD;
}

.post {
  mix-blend-mode: difference;
  color: #9065AD;
}

.user {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.postar {
  width: auto;
  height: auto;
  border-radius: 10px;
  flex-grow: 20%;
}

.mn {
  width: 10%;
  border-radius: 100px;
  height: 80%;
}

.capa {
  width: 100%;
  height: 20%;
}


body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #9065AD;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #9065AD;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #9065AD;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #9065AD;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #9065AD;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #9065AD;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.first-child {
  margin: 0;
  background-color:#9065AD;
  width: 80%;
  height: 40%;
  position: relative;
  border-radius: 10%;
  text-align: center;
  margin-top: 60px;
  padding: 20px;
}

.last-child {
  background-color: blue;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  position: relative;
  margin-top: -130px;
  margin-left: 20px;
}
.desc{
  position: relative;
}